###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
.phpunit.cache/
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
phpstan_report.txt
.phpstan-cache/
###< phpstan/phpstan ###

.idea
.DS_Store
.decrypted~secrets.*
/.vscode

/_tests/_reports/
